* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a97403; /* Dark background */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  margin: 50px;
  padding: 10px;
  max-width: 400px;
  background-color: #a20680;
  border-radius: 10px;
}
#log {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #272a7a;
  color: white;
  max-width: 400px;
  border-radius: 10px;
  margin: 40px;
  padding: 15px;
}
a {
  text-decoration: none;
  color: aqua;
}
#checking-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  background-color: white; /* Card background */
  color: black;
  box-shadow: 0 5px 0 blue;
  max-width: 400px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 1em;
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 8px 16px;
  background-color: #6e40c9; /* Purple button */
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}

button:hover {
  background-color: #fd51d9;
}

.result {
  font-size: 1.5em;
  color: black;
  background-color: white;
}

.info {
  margin-top: 50px;
  padding: 20px;
  background-color: #27557a;
  border-radius: 8px;
  font-size: 1.1em;
  color: white;
  max-width: 400px;
}

.info::before {
  content: "💡";
  margin-right: 8px;
  max-width: 400px;
}
